{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'web.png' %}">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
   
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        body{margin-top:20px;}
        .avatar{
            width:200px;
            height:200px;
        }
        .submit-buttons {
            text-align: center; /* Adjust this value as needed */
        }
        .hide-text{
          color : transparent;
        }
    </style>
</head>

<body>
    <div class="container bootstrap snippets bootdey" style="border: 2px solid rgb(160, 155, 155); border-radius: 15px;">

      <form method="post" action="{% url 'update' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
          <h2 class="text-primary">Edit Profile</h2>
        </div>

        <!-- Submit buttons -->
        <div class="row gutters submit-buttons">
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
            <div class="hide-text">a</div> 
            <div class="text-right">
                  <button type="button" id="submit" name="submit" class="btn btn-secondary">Back</button>
                  <button type="submit" name="submit" class="btn btn-primary">Update</button>
              </div>
          </div>
        </div>

          <hr style="height: 1.1px; background-color: black; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);">
        <div class="row">

          <input type="hidden" name="userid"  value="{{ profile.uid }}">
          <!-- left column -->
          <div class="col-md-3">
            <div class="text-center">
            <img src="{{profile.pphoto.url}}" id="pphoto" class="avatar img-circle img-thumbnail" alt="avatar">
              <h6>Upload a different photo...</h6>
              <input type="file" id="photo-input" class="form-control" name="photo">
            </div>
          </div>
          
          <!-- Delete account pannel -->
          <div class="col-md-9 personal-info">
            <div class="alert alert-info alert-dismissable">
              <a href="" style="font-size: 17px;" id="deleteaccount">Delete Account</a>
            </div>
            

          <div class="form-horizontal" role="form">

              <!-- profile fields -->
              <div class="form-group">
                <label class="col-lg-3 control-label" name="name">Username :</label>
                <div class="col-lg-8">
                  <input name="name" class="form-control" type="text" placeholder="Name" value="{{profile.uname}}">
                </div>
              </div>

              <div class="form-group">
                <label class="col-lg-3 control-label" name="about">About :</label>
                <div class="col-lg-8">
                  <input name="about" class="form-control" type="text" placeholder="Available" value="{{profile.about}}">
                </div>
              </div>

              <div class="form-group">
                <label class="col-lg-3 control-label">Phone Number :</label>
                <div class="col-lg-8">
                  <input class="form-control" type="text" value="{{profile.phoneno}}" readonly>
                </div>
              </div>

              
              <br><br>
              <!-- feedback field -->
              <hr style="height: 0.8px; background-color: black; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);">
              <div class="form-group text-left">
                <label class="col-lg-3 control-label">Feedback:</label>
                <div class="col-lg-8">
                    <div style="position: relative;">
                        <textarea id="feedback"  class="form-control" rows="5" placeholder="Share some thoughts here..."></textarea>
                        <button type="button" id="send-feedback" name="send-feedback" class="btn btn-secondary" style="position: absolute; right: 10px; bottom: 10px;">Send</button>
                    </div>
                </div>
            </div>
            
          </div>
      </form>
          </div>
      </div>
    <hr>

    <script>
      // for back button
      document.getElementById('submit').addEventListener("click",function(){
          window.location.href = "{% url 'set_profile_users' %}"; 
      });

    // For profile photo change
      document.getElementById('photo-input').addEventListener('change', function(event) {
          const file = event.target.files[0];
          const reader = new FileReader();
          
          reader.onload = function(event) {
              document.getElementById('pphoto').src = event.target.result;
          };
          
          reader.readAsDataURL(file);
      });

    // for delete account
      document.getElementById('deleteaccount').addEventListener('click', function(event) {
          event.preventDefault();

          var confirmed = confirm('Are you sure ? You want to delete the account ?');
          
          if (confirmed) {
              event.preventDefault();
              var profileId = "{{ profile.uid }}"; 
              var link = "{% url 'delete' %}?profile_id=" + encodeURIComponent(profileId);
              window.location.href = link;
          }
      });
      
    // send feedback
      document.getElementById('send-feedback').addEventListener("click",function(e){
         text = document.getElementById("feedback").value;
         userId = "{{ profile.uid }}";
         if(text.trim() === ''){ alert("Empty Feedback");}
         else{
            var csrfToken = getCookie('csrftoken');
            e.preventDefault();
            $.ajax({
                    url: "/save-feedback/",
                    type: "POST",
                    data:{
                        'text': text,
                        'sender':userId,
                    },
                    headers: {
                        'X-CSRFToken': csrfToken // Include CSRF token in the request headers
                    },
                    success: function(response) {
                                if(response.success){
                                    alert("Thank you for your valuable feedback!")
                                }
                    },
                    error: function(xhr, errmsg, err) {
                        console.log(xhr.status + ": " + xhr.responseText);
                    }
                });
         }
      })

    // Function to get CSRF token from cookie
      function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
        }
    </script>
</body>
</html>
