<!DOCTYPE html>
<html lang="en">
<head>
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <style>
        body{margin-top:20px;}
        .avatar{
            width:200px;
            height:200px;
        }
    </style>
</head>

<body>
    <div class="container bootstrap snippets bootdey">
        <h1 class="text-primary">Edit Profile</h1>
          <hr>
        <div class="row">
          <!-- left column -->
          <div class="col-md-3">
            <div class="text-center">
              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="avatar img-circle img-thumbnail" alt="avatar">
              <h6>Upload a different photo...</h6>
              <input type="file" class="form-control">
            </div>
          </div>
          
          <!-- edit form column -->
          <div class="col-md-9 personal-info">
            <div class="alert alert-info alert-dismissable">
              <a href="login.html" style="font-size: 17px;">Log Out</a>
            </div>
            
            <form class="form-horizontal" role="form">
              <div class="form-group">
                <label class="col-lg-3 control-label">Username :</label>
                <div class="col-lg-8">
                  <input class="form-control" type="text" placeholder="Name">
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-3 control-label">About :</label>
                <div class="col-lg-8">
                  <input class="form-control" type="text" placeholder="Available">
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-3 control-label">Phone Number :</label>
                <div class="col-lg-8">
                  <input class="form-control" type="number" placeholder="+91">
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-3 control-label">FeedBack :</label>
                <div class="col-lg-8">
                  <textarea class="form-control" rows="5" placeholder="Share some thughts here ..."></textarea>
                </div>
              </div>
              <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="text-right">
                        <button type="button" id="submit" name="submit" class="btn btn-secondary">Cancel</button>
                        <button type="button" id="submit" name="submit" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </div>
              
            </form>
          </div>
      </div>
    </div>
    <hr>
</body>
</html>
